html {
    font-family: 'Open Sans Condensed', sans-serif;
}
body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat, repeat;
}
.top {
    position: absolute;
    left: 50px;
    top: 10px;
}
.c-name {
    font-family: 'Ranchers', cursive;
    font-size: xx-large;
}

.main {
    border: 2px solid gray;
    border-radius: 25px;
    padding: 20px;
    background-color: papayawhip;
}
.navbar {
    position: relative;
    width: 650px;
    height: 25px;
    left: 350px;
    top:20px;
    border:2px solid;
    border-radius: 25px;
    padding: 5px;
    background-color: lightblue;
}
.home {
    position: relative;
    left: 30px;
}
.rc-cars {
    position: relative;
    left: 50px;
}
.rc-boats {
    position: relative;
    left: 70px;
}
.rc-planes {
    position: relative;
    left: 90px;
}
.parts {
    position: relative;
    left: 110px;
}
.service {
    position: relative;
    left: 130px;
}
.effect:hover {
    font-weight: bold;
    cursor: pointer;
}
.search-wrapper {
    position: relative;
    left: 230px;
    top: 0px;
  }
.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 150px;
    padding: 2px 20px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
.thumb-img {
    width: 100px;
    border-radius: 25px;
}
.items {
    position: relative;
    left: 10px;
}
.footer {
    text-align:center;
}