h1 {
    color:blue;
    font-size: 55px;
}
.class1 {
    color:red;
}
.class2 {
    font-size: 55px;
}
.class3 {
    color:orange;
}
h3, h4 {
    font-size: 60px;
}
div .class1 {
    background-color: green;
}
div.class1 {
    background-color: yellow;
}
.parent > p {
    background-color: violet;
}
